<spacko-magic-header></spacko-magic-header>
<div
  class="battlefield-container"
  fxLayout="row"
  fxLayoutAlign="center end"
>
  <div fxLayout="column" fxLayoutGap="4px" fxFlex="grow">
    <spacko-magic-enemy-stats
      *ngIf="selectedEnemyPlayer"
      [player]="selectedEnemyPlayer"
    >
    </spacko-magic-enemy-stats>
    <spacko-magic-lane
      [cards]="enemyLands"
      [isEnemyLane]="true"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-lane>
    <spacko-magic-lane
      [cards]="enemyOther"
      [isEnemyLane]="true"
      [graveyard]="enemyGraveyard"
      [exile]="enemyExile"
      [library]="enemyDeck"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
    <spacko-magic-lane
      [cards]="enemyCreatures"
      [isEnemyLane]="true"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
    <spacko-magic-lane
      [cards]="creatures"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-lane>
    <spacko-magic-lane
      [cards]="other"
      [graveyard]="graveyard"
      [exile]="exile"
      [library]="deck"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
    <spacko-magic-lane
      [cards]="lands"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-lane>
    <div
      class="player-lane"
      fxLayout="row"
      [style.height.px]="200"
      [style.z-index]="4"
    >
      <spacko-magic-player-stats
        *ngIf="selectedPlayer"
        [player]="selectedPlayer"
        (playerUpdated)="updatePlayer($event)"
      >
      </spacko-magic-player-stats>
      <div
        class="hand-container"
        fxLayout="row"
        fxLayoutAlign="center center"
        [style.height.px]="200"
      >
        <div
          class="arrow left"
          [style.height.px]="200 / 2"
          (click)="scrollLeft()"
        ></div>
        <div
          #handScroll
          class="scroll-container"
          fxLayout="row"
          fxLayoutGap="4px"
          [style.height.px]="200"
        >
          <div
            class="card"
            *ngFor="let card of hand; index as i"
            [style.height.px]="200"
            [style.width.px]="143"
            (wheel)="selectCard(card)"
          >
            <div
              class="inner-card"
              (click)="play(card)"
              [style.height.px]="200"
              [style.width.px]="143"
              fxFill
              [style.background-image]="'url(' + card.url + ')'"
            ></div>
          </div>
        </div>
        <div
          class="arrow right"
          [style.height.px]="200 / 2"
          (click)="scrollRight()"
        ></div>
      </div>
    </div>
  </div>
</div>
<div
  class="inspect"
  *ngIf="selectedCard?.url"
  (wheel)="deselectCard()"
  (click)="deselectCard()"
>
  <div
    class="preview"
    [style.background-image]="'url(' + selectedCard?.url + ')'"
  ></div>
</div>
<div
  class="inspect"
  *ngIf="selectedEnemyCard?.url"
  (wheel)="deselectCard()"
  (click)="deselectCard()"
>
  <div
    class="preview"
    [style.background-image]="'url(' + selectedEnemyCard?.url + ')'"
  ></div>
</div>
<div
  class="search-container"
  *ngIf="mode === 'search'"
  (click)="toggleSearchMode()"
>
  <spacko-magic-lane
    *ngIf="searchMode === 'deck'"
    [style.position]="'absolute'"
    [style.top]="'calc(50% - ' + 200/2 + 'px)'"
    [cards]="deck"
    [cardHeight]="200"
    [cardWidth]="143"
    [cardBorderRadius]="cardBorderRadius"
    [mode]="mode"
    (actionTriggered)="triggerAction($event)"
  >
  </spacko-magic-lane>
  <spacko-magic-lane
    *ngIf="searchMode === 'graveyard'"
    [style.position]="'absolute'"
    [style.top]="'calc(50% - ' + 200/2 + 'px)'"
    [cards]="graveyard"
    [cardHeight]="200"
    [cardWidth]="143"
    [cardBorderRadius]="cardBorderRadius"
    [mode]="mode"
    (actionTriggered)="triggerAction($event)"
  >
  </spacko-magic-lane>
  <spacko-magic-lane
    *ngIf="searchMode === 'exile'"
    [style.position]="'absolute'"
    [style.top]="'calc(50% - ' + 200/2 + 'px)'"
    [cards]="exile"
    [cardHeight]="200"
    [cardWidth]="143"
    [cardBorderRadius]="cardBorderRadius"
    [mode]="mode"
    (actionTriggered)="triggerAction($event)"
  >
  </spacko-magic-lane>
</div>
