<div class="player-stats-container">
  <div class="player-stats-header">
      <div class="entry add-player" (click)="onClickAdd()">
        <mat-icon>group_add</mat-icon>
      </div>
      <div class="player-names">
        <div
          *ngFor="let player of players"
          class="player-name entry"
          [class.selected]="player === selectedPlayer.name"
          (click)="onClickUsername(player)"
        >
          <span>{{ player }}</span>
        </div>
      </div>
  </div>
  <div class="enemy-stats" *ngIf="selectedPlayer">
    <div
      class="player-stats-content"
    >
      <div
        class="life-counter stat-column"
      >
        <div class="icon">
          <img src="/assets/life.svg" width="30px" height="30px" />
        </div>
        <div class="number">
          {{ selectedPlayer ? selectedPlayer.life : 0 }}
        </div>
      </div>

      <div
        class="cards stat-column"
      >
        <div class="icon">
          <img src="/assets/cards_white.svg" width="30px" height="30px" />
        </div>
        <div class="number">{{ cards }}</div>
      </div>
      <div
        class="poison-counter stat-column"
        *ngIf="selectedPlayer?.poison !== 0"
      >
        <div class="icon">
          <img src="/assets/poison_counter.svg" width="30px" height="30px" />
        </div>
        <div class="number">
          {{ selectedPlayer ? selectedPlayer.poison : 0 }}
        </div>
      </div>
      <div
        class="energy-counter stat-column"
        *ngIf="selectedPlayer?.energy !== 0"
      >
        <div class="icon">
          <img src="/assets/energy_counter.svg" width="30px" height="30px" />
        </div>
        <div class="number">
          {{ selectedPlayer ? selectedPlayer.energy : 0 }}
        </div>
      </div>
      <div
        class="other-counter stat-column"
        *ngIf="selectedPlayer?.other !== 0"
      >
        <div class="icon">
          <img src="/assets/other_counter.svg" width="30px" height="30px" />
        </div>
        <div class="number">
          {{ selectedPlayer ? selectedPlayer.other : 0 }}
        </div>
      </div>
    </div>
  </div>
</div>
