.player-stats-container {
  filter: drop-shadow(0px 0px 5px #000);
  backdrop-filter: blur(5px);
  font-family: 'Beleren2016';
}

.player-stats-header {
  width: 100%;
  background-color: #000;
  color: white;
  font-size: 1.5rem;
  height: 48px;
}

.player-stats-content {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  padding: 8px;
  border-bottom-left-radius: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  border-left: 1px solid rgba(255, 255, 255, 0.18);
  width: 200px;
  top: 48px;
  right: 0;
  position: absolute;
  height: 77px;
  z-index: 1;
}

span {
  padding-top: 8px;
}

.player-name {
  padding: 15px 2rem 10px 2rem;
  border-bottom: #0000 solid 3px;
}

.selected {
  border-bottom: #673ab7 solid 3px;
}

.entry:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.entry:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.entry {
  cursor: pointer;
}

.add-player {
  position: absolute;
  right: 0;
}

.add-player mat-icon {
  height: 34px;
  width: 34px;
  padding: 0.5rem 1rem;
  font-size: 34px;
}
