.player-stats-container {
  filter: drop-shadow(0px 0px 5px #000);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 20px;
  font-family: 'Beleren2016';
}

.player-stats-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
  border-bottom-left-radius: 20px;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  border-left: 1px solid rgba(255, 255, 255, 0.18);
}

.player-stats-content {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  border-left: 1px solid rgba(255, 255, 255, 0.18);
}

span {
  padding-top: 8px;
}

.player-stats-header:hover {
  background-color: rgba(50, 50, 50, 0.6);
}

.player-stats-header:active {
  background-color: rgba(75, 75, 75, 0.6);
}
