.input {
    width: 100%;
}

.register-button {
    width: 100%;
    margin: 0;
}

.registration-container {
    height: 90%;
    text-align: center;
    padding: 1rem;
}

.links {
    height: 10%;
    text-align: center;
}

.link {
    color: var(--primary-color)
}

.wrapper {
    height: 50%;
    max-width: 500px;
    margin: auto;
}

h1 {
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
}