<div class="player-stats-container">
  <div
    class="player-stats-header"
  >
    <span>{{ player.name }}</span>
    <button class="more" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon title="info"> more_horiz </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClick('add_token')">
        <mat-icon>token</mat-icon>
        <span>Add Token</span>
      </button>
    </mat-menu>
  </div>
  <div
    class="player-stats-content"
  >
    <div
      class="life-counter stat-column"
    >
      <div class="icon" title="Life">
        <img src="/assets/life.svg" width="30px" height="30px" />
      </div>
      <input
        type="number"
        id="life" class="number"
        [ngModel]="player.life"
        (ngModelChange)="changeLife($event)"
      />
    </div>
    <div
      class="poison-counter stat-column"
    >
      <div class="icon" title="Poison Counter">
        <img src="/assets/poison_counter.svg" width="30px" height="30px" />
      </div>
      <input
        type="number"
        (ngModelChange)="changePoison($event)" class="number"
        [ngModel]="player.poison"
      />
    </div>
    <div
      class="energy-counter stat-column"
    >
      <div class="icon" title="Energy Counter">
        <img src="/assets/energy_counter.svg" width="30px" height="30px" />
      </div>
      <input
        type="number"
        (ngModelChange)="changeEnergy($event)" class="number"
        [ngModel]="player.energy"
      />
    </div>
    <div
      class="other-counter stat-column"
    >
      <div class="icon" title="Other Counter">
        <img src="/assets/other_counter.svg" width="30px" height="30px" />
      </div>
      <input
        type="number"
        (ngModelChange)="changeOther($event)" class="number"
        [ngModel]="player.other"
      />
    </div>
  </div>
</div>
