.player-stats-container {
  filter: drop-shadow(5px 0px 5px #000);
}

.player-stats-header {
  width: 100%;
  background-color: #333;
  color: white;
  font-size: 20px;
  border-top-right-radius: 20px;
  padding: 8px;
}

.player-stats-content {
  background-color: #222;
  color: white;
  font-size: 20px;
  padding: 8px;
}

.player-counter-button {
  background-color: #555;
  width: 100%;
  cursor: pointer;
  border-radius: 30%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.player-counter-button:hover {
  background-color: #777;
}
