.player-stats-container {
  filter: drop-shadow(0px 0px 5px #000);
  backdrop-filter: blur(5px);
  border-top-right-radius: 20px;
  font-family: 'Beleren2016';
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

.player-stats-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
  border-top-right-radius: 20px;
  padding: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;
  flex: 1 1 100%;
  max-height: 30%;
}

.player-stats-content {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  padding: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;
  flex: 1 1 1e-9px;
}

input {
  all: unset;
  text-align: center;
  width: 3rem;
  height: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.player-counter-button {
  background-color: #555;
  width: 100%;
  cursor: pointer;
  border-radius: 30%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.player-counter-button:hover {
  background-color: #777;
}

.more {
  cursor: pointer;
  translate: 10px -15px;
}

.stat-column {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
}

.stat-column .icon {
  margin-bottom: 4px;
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 1e-9px;
}

.stat-column .number {
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 1e-9px;
}
