.player-stats-container {
  filter: drop-shadow(0px 0px 5px #000);
  backdrop-filter: blur(5px);
  border-top-right-radius: 20px;
  font-family: 'Beleren2016';
}

.player-stats-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
  border-top-right-radius: 20px;
  padding: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: space-between;
  display: flex;
}

.player-stats-content {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  padding: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
}

input {
  all: unset;
  text-align: center;
  width: 3rem;
  height: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.player-counter-button {
  background-color: #555;
  width: 100%;
  cursor: pointer;
  border-radius: 30%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.player-counter-button:hover {
  background-color: #777;
}
 .more {
  cursor: pointer;
  translate: 4px -12px;
 }
