<div
  *ngFor="let card of card.attachedCards; index as i; let length = count;"
  class="attached-card"
  style="position: relative; width: 0; height: 0"
  [style.top]="'-' + 16 * (length - i) + '%'"
>
  <div
    class="card"
    style="position: absolute"
    [style.border-radius.px]="borderRadius"
    [style.borderWidth.px]="borderWidth"
    [style.borderBottomWidth.px]="borderWidth * 2"
    [style.min-height.px]="height"
    [style.max-height.px]="height"
    [style.max-width.px]="width"
    [style.min-width.px]="width"
    [@attachmentTappedUntapped]="{
      value: tappedValue,
      params: {
        inWidth: width + 'px',
        inHeight: height + 'px',
        marginLeft: marginLeft + 'px'
      }
    }"
  >
    <div
      class="inner-card"
      [style.height.px]="height"
      fxFill
      [style.background-image]="'url(' + card.borderCrop + ')'"
    ></div>
  </div>
</div>

<div
  class="card-container"
  (click)="triggerAction('toggle-tap'); $event.stopPropagation()"
  (mouseenter)="toggleActions()"
  (mouseleave)="toggleActions()"
  (wheel)="triggerAction('zoom')"
  [style.maxHeight.px]="height"
  [style.max-width.px]="width"
  [style.min-width.px]="width"
>
  <div
    class="card"
    [style.borderWidth.px]="borderWidth"
    [style.borderBottomWidth.px]="borderWidth * 2"
    [style.transform]="
      attachments ? 'translate(0%, ' + 10 * attachments + '%)' : 'none'
    "
    [style.height.px]="height"
    [style.max-width.px]="width"
    [style.min-width.px]="width"
    [style.border-radius.px]="borderRadius"
    [@tappedUntapped]="{
      value: tappedValue,
      params: { inWidth: width + 'px', inHeight: height + 'px' }
    }"
  >
    <div
      class="inner-card"
      [style.height.px]="height"
      [style.filter]="
        card.place === 'exile' ? 'grayscale(100%)' : 'grayscale(0%)'
      "
      [style.background-image]="
        showOnlyArt
          ? 'url(' + card.borderCrop + ')'
          : 'url(' + card.borderCrop + ')'
      "
    >
      <div
        class="stats"
        [style.bottom.px]="statsBottom"
        [style.right.px]="statsRight"
        *ngIf="card.power || card.toughness"
      >
        {{ card.power }}/{{ card.toughness }}
      </div>
      <div class="counter" *ngIf="card.counter > 0">
        {{ card.counter > 0 ? card.counter : '' }}
      </div>
    </div>
  </div>
  <div
    *ngIf="!isEnemyCard"
    [@showHide]="showActions ? 'show' : 'hide'"
    [style.max-width.px]="width"
    class="actions"
    fxLayout="row wrap"
    fxLayoutGap="2px"
    fxLayoutAlign="center center"
  >
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="put on top of deck"
      *ngIf="card.place === 'battlefield'"
      class="action put-on-top"
      (click)="triggerAction('putOnTopOfDeck'); $event.stopPropagation()"
    ></div>
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="add a counter"
      *ngIf="card.place === 'battlefield'"
      class="action add-counter"
      (click)="triggerAction('add-counter'); $event.stopPropagation()"
    ></div>
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="remove a counter"
      *ngIf="card.place === 'battlefield'"
      class="action remove-counter"
      (click)="triggerAction('remove-counter'); $event.stopPropagation()"
    ></div>
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="attach"
      *ngIf="card.place === 'battlefield' && card.attachedCards.length === 0"
      class="action attach"
      (click)="triggerAction('attach-to'); $event.stopPropagation()"
    ></div>
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="unattach"
      *ngIf="card.attachedCards.length > 0"
      class="action unattach"
      (click)="triggerAction('unattach'); $event.stopPropagation()"
    ></div>
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="return to hand"
      class="action return-to-hand"
      (click)="triggerAction('return-to-hand'); $event.stopPropagation()"
    ></div>
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="search"
      class="action search"
      *ngIf="
        (card.place === 'graveyard' || card.place === 'exile') &&
        mode !== 'search'
      "
      (click)="triggerAction('search'); $event.stopPropagation()"
    ></div>
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="kill / sacrifice"
      *ngIf="card.place === 'battlefield' || card.place === 'deck'"
      class="action kill"
      (click)="triggerAction('kill'); $event.stopPropagation()"
    ></div>
    <div
      [style.height.px]="height / 5"
      [style.width.px]="height / 5"
      title="exile"
      *ngIf="card.place === 'battlefield' || 'graveyard' || 'hand'"
      class="action exile"
      (click)="triggerAction('exile'); $event.stopPropagation()"
    ></div>
  </div>
</div>
