.card {
  cursor: pointer;
}

.inner-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.counter {
  font-family: 'Beleren2016';
  position: relative;
  top: calc(50% - 2rem);
  left: 5%;
  z-index: 1;
  color: white;
  max-height: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2.2rem;
  background-color: #231f20;
  border-radius: 50%;
  filter: drop-shadow(0 0 1px black);
  user-select: none;
}

.attached-card {
  position: relative;
  width: 0;
  height: 0;
}

.attached-card:hover {
  position: absolute;
  z-index: 2;
}
