.card-container {
  font-family: 'Ramaraja', serif;
}

.card {
  cursor: pointer;
  border: solid #18130f;
  border-bottom: 6px solid #18130f;
  background-color: #18130f;
  box-sizing: border-box;
  overflow: hidden;
}

.inner-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  bottom: 0;
  overflow: hidden;
}

.stats {
  position: absolute;
  background-color: #fffc;
  border: 2px solid black;
  font-weight: bold;
  line-height: 1rem;
  font-size: 1.2rem;
  padding: 6px 5px 0px 8px;
  letter-spacing: 0.1rem;
  text-align: center;
  transform: translateY(1px);
}

.counter {
  position: relative;
  top: 16%;
  left: 8%;
  z-index: 1;
  color: white;
  max-height: 1.3rem;
  max-width: 1.3rem;
  min-height: 1.3rem;
  min-width: 1.3rem;
  text-align: center;
  font-size: 16px;
  line-height: 1.7rem;
  background-color: #222;
  border-radius: 50%;
}

.tap {
  background-image: url(/assets/tap.svg);
}

.untap {
  background-image: url(/assets/untap.svg);
}

.return-to-hand {
  background-image: url(/assets/hand_white.svg);
  background-size: 80%;
}

.exile {
  background-image: url(/assets/exile_white.svg);
}

.add-counter {
  background-color: green;
  background-image: url(/assets/add_white.svg);
}

.remove-counter {
  background-color: darkred;
  background-image: url(/assets/remove_white.svg);
}

.kill {
  background-image: url(/assets/cancel_white.svg);
}

.attach {
  background-image: url(/assets/layers_white.svg);
}

.unattach {
  background-image: url(/assets/layers_clear_white.svg);
}

.search {
  background-image: url(/assets/search_white.svg);
}

.put-on-top {
  background-image: url(/assets/on_top.svg);
}

.attached-card {
  position: relative;
  width: 0;
  height: 0;
}

.attached-card:hover {
  position: absolute;
  z-index: 2;
}
