.card {
  cursor: pointer;
}

.inner-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.counter {
  position: relative;
  top: calc(50% - 1.3rem);
  left: 8%;
  z-index: 1;
  color: white;
  max-height: 1.3rem;
  max-width: 1.3rem;
  min-height: 1.3rem;
  min-width: 1.3rem;
  text-align: center;
  font-size: 13px;
  line-height: 1.4rem;
  background-color: #222;
  border-radius: 50%;
  border: 2px solid black;
}

.attached-card {
  position: relative;
  width: 0;
  height: 0;
}

.attached-card:hover {
  position: absolute;
  z-index: 2;
}
