<div class="menu-button" (click)="toggleMenu()">
  <mat-icon>menu</mat-icon>
</div>
<div [class.show]="isActive" class="backdrop" (click)="toggleMenu()"></div>
<header [class.in]="isActive" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start start">
  <div fxFill *ngIf="isActive" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
    <div class="nav-item" routerLink="/battlefield" routerLinkActive="active">
      Battlefield
    </div>
    <div class="nav-item" routerLink="/deck" routerLinkActive="active">
      Active Deck
    </div>
    <div class="nav-item" routerLink="/settings" routerLinkActive="active">
      Decks
    </div>
    <div class="nav-item logout" (click)="onLogout()" routerLinkActive="active">
      Logout
    </div>
  </div>
</header>
