<header fxLayout="row" [style.background]="isActive ? 'black' : 'none'" fxLayoutGap="8px" fxLayoutAlign="space-between center">
  <mat-icon (click)="toggleMenu()">menu</mat-icon>
  <div fxFill *ngIf="isActive" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="8px">
    <button mat-raised-button routerLink="/single-player" color="primary">
      Single Player
    </button>
    <button mat-raised-button routerLink="/two-player" color="primary">
      Two Player
    </button>
    <button mat-raised-button routerLink="/settings" color="primary">
      Settings
    </button>
  </div>
</header>
