header {
  position: fixed;
  height: 100vh;
  padding-top: 3rem;
  color: white;
  vertical-align: middle;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: 9999;
  width: 240px;
  background: #000000;
  left: -250px;
  transition: 0.2s ease left;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: flex-start;
  align-items: flex-start;
}

nav {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: flex-start;
  align-items: flex-start;
}

.in {
  left: 0px;
}

.menu-button {
  position: fixed;
  z-index: 10000;
  color: white;
  user-select: none;
}

mat-icon {
  height: 33px;
  width: 33px;
  padding: 7px 1rem;
  filter: drop-shadow(0px 0px 3px black);
  font-size: 33px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

mat-icon:active {
  transform: scale(0.8);
}

.nav-item {
  padding: 1rem;
  padding-right: 2rem;
  font-family: 'Beleren2016';
  height: max-content;
  color: #fffa;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 3px black;
  transition: transform 0.2s ease, color 0.2s ease, background-color ease 0.2s;
  width: 100%;
  box-sizing: border-box;
  text-align: start;
}

.bottom-nav .nav-item {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.nav-item:hover {
  color: #fff;
  background-color: #673ab7;
}

.nav-item:active {
  background-color: black;
}

.active {
  color: #fff;
  background-color: #3e256a;
}

.bottom-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.logout {
  width: 100%;
  max-width: 300px;
}

.version {
  width: 100%;
  max-width: 300px;
  font-size: 120%;
  line-height: 1.5rem;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000;
  z-index: 9998;
  transition: 0.2s background-color;
  pointer-events: none;
}

.show {
  background-color: #0006;
  pointer-events: all;
}
