<div class="menu-button" (click)="toggleMenu()">
  <mat-icon>menu</mat-icon>
</div>
<div *ngIf="isActive" class="backdrop" (click)="toggleMenu()"></div>
<header fxLayout="column" [style.background]="isActive ? '#000000' : 'none'" fxLayoutGap="8px" fxLayoutAlign="start start">
  <div fxFill *ngIf="isActive" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
    <div class="nav-item" routerLink="/battlefield" routerLinkActive="active">
      Battlefield
    </div>
    <div class="nav-item" routerLink="/deck" routerLinkActive="active">
      Deck
    </div>
    <div class="nav-item logout" (click)="onLogout()" routerLinkActive="active">
      Logout
    </div>
  </div>
</header>
