.card {
  background-size: contain;
  cursor: pointer;
  scroll-snap-align: center;
}

.inner-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 4%;
}

spacko-magic-card {
  scroll-snap-align: center;
}

.battlefield-container {
  height: 100vh;
}

.scroll-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: calc(100vw - 200px);
  overflow-y: hidden;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.hand-container {
  width: 100%;
  max-width: calc(100vw - 200px);
}

.hand-container .card {
  position: relative;
  top: 50%;
  transition: 0.5s top;
}

.hand-container .card:hover{
  top: 0;
}

.inspect {
  background-color: #000a;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.preview {
  position: relative;
  margin: auto;
  border-radius: 30px;
  width: 488px;
  height: 680px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: default;
}

.arrow {
  position: absolute;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0005;
  min-width: 50px;
  transition: 0.3s ease;
  opacity: 0.2;
  z-index: 10;
}

.arrow:hover {
  opacity: 1;
}

.left {
  background-image: url(/assets/arrow_back.svg);
  left: 200px;
  bottom: 0;
}

.right {
  background-image: url(/assets/arrow_forward.svg);
  right: 0;
  bottom: 0;
}

spacko-magic-player-stats {
  width: 200px;
}
