spacko-magic-header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.card {
  background-size: contain;
  cursor: pointer;
  scroll-snap-align: center;
  pointer-events: auto;
  padding: 4px;
  filter: drop-shadow(0px 0px 2px black);
}

.inner-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 4%;
}

spacko-magic-card {
  scroll-snap-align: center;
}

.battlefield-container {
  height: 100vh;
}

.scroll-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: calc(100vw - 210px);
  overflow-y: visible;
  padding-top: 86px;
  transform: translateY(-50px);
  pointer-events: none;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.hand-container {
  width: 100%;
  max-width: calc(100vw - 210px);
  padding-top: 100px;
  pointer-events: none;
}

.player-lane {
  pointer-events: none;
}

.hand-container .card {
  position: relative;
  transform: translateY(0);
  transition: 0.5s transform;
}

.hand-container .card:hover{
  transform: translateY(-86px);
}

.inspect {
  background-color: #000a;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.preview {
  position: relative;
  margin: auto;
  border-radius: 30px;
  width: 488px;
  height: 680px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: default;
}

.arrow {
  position: absolute;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0005;
  min-width: 50px;
  transition: 0.3s ease;
  opacity: 0.2;
  z-index: 10;
  pointer-events: auto;
}

.arrow:hover {
  opacity: 1;
}

.player-lane {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.left {
  background-image: url(/assets/arrow_back.svg);
  left: 210px;
  bottom: 0;
}

.right {
  background-image: url(/assets/arrow_forward.svg);
  right: 0;
  bottom: 0;
}

spacko-magic-player-stats {
  width: 210px;
  margin-top: 90px;
  pointer-events: auto;
}

spacko-magic-enemy-stats {
  width: 200px;
  top: 0;
  right: 0;
  position: absolute;
  height: 110px;
  z-index: 1;
}

.search-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000b;
  z-index: 2;
}

.search-container spacko-magic-lane {
  margin: auto;
  width: 100%;
}
