spacko-magic-header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.battlefield-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: flex-start center;
  align-items: flex-start;
  width: 100%;
}

.enemy-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  max-width: 100%;
  width: 100%;
}

.player-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  max-width: 100%;
  width: 100%;
}

h3 {
  font-family: 'Beleren2016';
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 0 3px black;
  padding: 0 0 0 0;
  margin: 1rem 0 1rem 0;
}

.card {
  background-size: contain;
  cursor: pointer;
  scroll-snap-align: center;
  pointer-events: auto;
  padding-left: 2px;
  padding-right: 2px;
  filter: drop-shadow(0px 3px 2px black);
}

.inner-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 5%;
}

spacko-magic-card {
  scroll-snap-align: center;
}

.scroll-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: calc(100vw - 210px);
  overflow-y: hidden;
  pointer-events: none;
  scroll-behavior: smooth;
  padding-top: 175px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.hand-container {
  width: 100%;
  max-width: calc(100vw - 210px);
  pointer-events: none;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.arrow-padding {
  flex: 1 1 50px;
  box-sizing: border-box;
  max-width: 50px;
  min-width: 50px;
}

.player-lane {
  pointer-events: none;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.hand-container .card {
  position: relative;
  transform: translateY(0);
  transition: 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) transform;
}

.hand-container .card:hover {
  z-index: 10;
  transform: translateY(calc(-125% + 110px)) scale(1.5);
}

.enemy-spell-stack {
  display: flex;
  justify-content: right;
}

.spell-stack {
  display: flex;
  justify-content: right;
}

.stacks {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  filter: drop-shadow(0px 0px 5px #000);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1rem;
}

.stack-container {
  position: fixed;
  height: calc(100vh - 3rem);
  top: 3rem;
  display: flex;
  flex-direction: row;
  transition: left 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 3;
}

.stack-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: top;
  background: rgba(0, 0, 0, 0.6);
  height: 20vh;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0 50% 50% 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-left: none;
  color: white;
  margin: 2rem 0;
  filter: drop-shadow(0px 0px 5px #000);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: border-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.stack-button:hover {
  cursor: pointer;
  border-color: rgba(255, 255, 255, 1);
}

.inspect {
  background-color: #000a;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
}

.inspect-visible {
  opacity: 1;
  pointer-events: all;
}

.preview {
  margin: auto;
  margin: 1rem auto 1rem auto;
  border-radius: 30px;
  width: 488px;
  height: 680px;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: scale(0) rotate(0deg);
}

.preview-visible {
  transform: scale(1) rotate(0deg);
}

.preview-rotate {
  transform: scale(1) rotate(90deg);
}

.preview-actions {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  text-shadow: 0 0 3px black;
}

.preview-actions mat-icon {
  color: #ccc;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem 0 0.5rem;
}

.preview-actions mat-icon:hover {
  color: #fff;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem 0 0.5rem;
}

a {
  all: unset;
}

.arrow {
  position: absolute;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0005;
  min-width: 50px;
  transition: 0.3s ease;
  opacity: 0.2;
  z-index: 10;
  pointer-events: auto;
}

.arrow:hover {
  opacity: 1;
}

.player-lane {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.left {
  background-image: url(/assets/arrow_back.svg);
  left: 210px;
  bottom: 0;
  border-radius: 0 50% 0 0;
}

.right {
  background-image: url(/assets/arrow_forward.svg);
  right: 0;
  bottom: 0;
  border-radius: 50% 0 0 0;
}

spacko-magic-player-stats {
  width: 210px;
  margin-top: auto;
  height: 110px;
  pointer-events: auto;
}

spacko-magic-enemy-stats {
  z-index: 1;
}

.search-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000b;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container spacko-magic-lane {
  width: 100%;
}

.creature-token-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000b;
  z-index: 4;
  padding-top: 1rem;
  overflow-y: auto;
}

.search {
  margin: auto;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.search-galery {
  margin: auto;
}

.token-filter-text {
  color: white;
}

.amount-input {
  width: 200px;
}