<spacko-magic-header [isActive]="false"></spacko-magic-header>
<div class="battlefield-container" fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="4px" fxFlex="grow">
    <spacko-magic-enemy-stats
      [players]="enemies"
      [selectedPlayer]="selectedEnemyPlayer"
      [cards]="enemyHand.length"
      (addEnemy)="openDialog()"
      (changeEnemy)="changeEnemy($event)"
    >
    </spacko-magic-enemy-stats>
    <spacko-magic-lane
      [lands]="enemyLands"
      [cards]="enemyOther"
      [isEnemyLane]="true"
      [graveyard]="enemyGraveyard"
      [exile]="enemyExile"
      [library]="enemyDeck"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
    <spacko-magic-lane
      [cards]="enemyCreatures"
      [isEnemyLane]="true"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
    <spacko-magic-lane
      [cards]="creatures"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-lane>
    <spacko-magic-lane
      [cards]="other"
      [lands]="lands"
      [graveyard]="graveyard"
      [exile]="exile"
      [library]="deck"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
  </div>
</div>

<div
  class="player-lane"
  fxLayout="row"
  [style.height.px]="cardHeight*1.5"
  [style.z-index]="4"
>
  <spacko-magic-player-stats
    *ngIf="selectedPlayer"
    [player]="selectedPlayer"
    (playerUpdated)="updatePlayer($event)"
  >
  </spacko-magic-player-stats>
  <div
    class="hand-container"
    fxLayout="row"
    fxLayoutAlign="center center"
    [style.height.px]="cardHeight*1.5"
  >
    <div
      class="arrow left"
      [style.height.px]="110"
      (click)="scrollLeft()"
    ></div>
    <div
      #handScroll
      class="scroll-container"
      fxLayout="row"
      [style.height.px]="cardHeight*1.5"
      [style.paddingTop.px]="cardHeight*1.5-110"
    >
      <div fxFlex="50px"></div>
      <div
        class="card"
        *ngFor="let card of hand; index as i"
        [style.height.px]="cardHeight"
        [style.width.px]="cardWidth"
        (wheel)="selectCard(card)"
      >
        <div
          class="inner-card"
          (click)="play(card)"
          [style.height.px]="cardHeight"
          [style.width.px]="cardWidth"
          fxFill
          [style.background-image]="'url(' + card.url + ')'"
        ></div>
      </div>
      <div fxFlex="50px"></div>
    </div>
    <div
      class="arrow right"
      [style.height.px]="110"
      (click)="scrollRight()"
    ></div>
  </div>
</div>

<div
  class="inspect"
  [class.inspect-visible]="selectedCard?.url"
  (wheel)="deselectCard()"
  (click)="deselectCard()"
>
  <div class="preview-actions">
    <mat-icon class="rotate" title="rotate" (click)="rotate($event)">
      sync
    </mat-icon>
    <a [href]="selectedCard?.scryfall_uri" target="_blank">
      <mat-icon class="rotate" title="info">
        open_in_new
      </mat-icon>
    </a>
  </div>
  <div
    class="preview"
    [class.preview-visible]="selectedCard?.url"
    [style.background-image]="selectedCard ? 'url(' + selectedCard.url + ')' : undefined"
    [class.preview-rotate]="rotateActive"
  ></div>
</div>

<div
  class="search-container"
  *ngIf="mode === 'search'"
  (click)="toggleSearchMode()"
>
  <spacko-magic-lane
    *ngIf="searchMode === 'deck'"
    [style.position]="'absolute'"
    [style.top]="'calc(50% - ' + cardHeight / 2 + 'px)'"
    [cards]="deck"
    [cardHeight]="cardHeight"
    [cardWidth]="cardWidth"
    [cardBorderRadius]="cardBorderRadius"
    [mode]="mode"
    (actionTriggered)="triggerAction($event)"
  >
  </spacko-magic-lane>
  <spacko-magic-lane
    *ngIf="searchMode === 'graveyard'"
    [style.position]="'absolute'"
    [style.top]="'calc(50% - ' + cardHeight / 2 + 'px)'"
    [cards]="graveyard"
    [cardHeight]="cardHeight"
    [cardWidth]="cardWidth"
    [cardBorderRadius]="cardBorderRadius"
    [mode]="mode"
    (actionTriggered)="triggerAction($event)"
  >
  </spacko-magic-lane>
  <spacko-magic-lane
    *ngIf="searchMode === 'exile'"
    [style.position]="'absolute'"
    [style.top]="'calc(50% - ' + cardHeight / 2 + 'px)'"
    [cards]="exile"
    [cardHeight]="cardHeight"
    [cardWidth]="cardWidth"
    [cardBorderRadius]="cardBorderRadius"
    [mode]="mode"
    (actionTriggered)="triggerAction($event)"
  >
  </spacko-magic-lane>
</div>
