<spacko-magic-header></spacko-magic-header>

<div class="battlefield-container">
  <div class="enemy-container">
    <spacko-magic-enemy-stats
      [players]="enemies"
      [selectedPlayer]="selectedEnemyPlayer"
      [cards]="enemyHand.length"
      (addEnemy)="openDialog()"
      (changeEnemy)="changeEnemy($event)"
    >
    </spacko-magic-enemy-stats>
    <spacko-magic-lane
      [lands]="enemyLands"
      [cards]="enemyOther"
      [isEnemyLane]="true"
      [graveyard]="enemyGraveyard"
      [exile]="enemyExile"
      [library]="enemyDeck"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
    <spacko-magic-lane
      [cards]="enemyCreatures"
      [isEnemyLane]="true"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
  </div>
  <div class="player-container">
    <spacko-magic-lane
      [cards]="creatures"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-lane>
    <spacko-magic-lane
      [cards]="other"
      [lands]="lands"
      [graveyard]="graveyard"
      [exile]="exile"
      [library]="deck"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-lane>
  </div>
</div>

<div
  class="player-lane"
  [style.height.px]="cardHeight * 1.5"
  [style.z-index]="4"
>
  <spacko-magic-player-stats
    *ngIf="selectedPlayer"
    [player]="selectedPlayer"
    (playerUpdated)="updatePlayer($event)"
    (clicked)="toggleSearchToken()"
  >
  </spacko-magic-player-stats>
  <div class="hand-container" [style.height.px]="cardHeight * 1.5">
    <div
      class="arrow left"
      [style.height.px]="110"
      (click)="scrollLeft()"
    ></div>
    <div
      #handScroll
      class="scroll-container"
      [style.height.px]="cardHeight * 1.5"
      [style.paddingTop.px]="cardHeight * 1.5 - 110"
    >
      <div class="arrow-padding"></div>
      <div
        class="card"
        *ngFor="let card of hand; index as i"
        [style.height.px]="cardHeight"
        [style.width.px]="cardWidth"
        (wheel)="selectCard(card)"
      >
        <div
          class="inner-card"
          (click)="play(card)"
          [style.height.px]="cardHeight"
          [style.width.px]="cardWidth"
          [style.background-image]="'url(' + card.url + ')'"
        ></div>
      </div>
      <div class="arrow-padding"></div>
    </div>
    <div
      class="arrow right"
      [style.height.px]="110"
      (click)="scrollRight()"
    ></div>
  </div>
</div>

<div class="stack-container" [style.left.px]="isStackOpen ? 0 : -(stackWidth + 33)">
  <div class="stack-button" [style.left.px]="stackWidth + 33" (click)="toggleStack()">
    <span>{{ isStackOpen ? 'CLOSE' : 'OPEN' }}</span>
    <span>STACK</span>
  </div>
  <div class="stacks">
    <div class="enemy-spell-stack">
      <spacko-magic-spell-stack
        [cards]="enemyStack"
        [height]="cardHeight * 1.6"
        [width]="cardWidth * 1.6"
        [borderRadius]="cardBorderRadius * 1.6"
        [mode]="mode"
        [touch]="touch"
        [isEnemyCard]="true"
        (actionTriggered)="triggerAction($event)"
      >
      </spacko-magic-spell-stack>
    </div>

    <div class="spell-stack">
      <spacko-magic-spell-stack
        [cards]="stack"
        [height]="cardHeight * 1.6"
        [width]="cardWidth * 1.6"
        [borderRadius]="cardBorderRadius * 1.6"
        [mode]="mode"
        [touch]="touch"
        (actionTriggered)="triggerAction($event)"
      >
      </spacko-magic-spell-stack>
    </div>
  </div>
</div>

<div
  class="inspect"
  [class.inspect-visible]="selectedCard?.url"
  (wheel)="deselectCard()"
  (click)="deselectCard()"
>
  <div class="preview-actions">
    <mat-icon class="rotate" title="rotate" (click)="rotate($event)">
      sync
    </mat-icon>
    <a [href]="selectedCard?.scryfall_uri" target="_blank">
      <mat-icon class="rotate" title="info"> open_in_new </mat-icon>
    </a>
  </div>
  <div
    class="preview"
    [class.preview-visible]="selectedCard?.url"
    [style.background-image]="
      selectedCard ? 'url(' + selectedCard.url + ')' : undefined
    "
    [style.transform]="'scale(1) rotate(' + rotation + 'deg)'"
  ></div>
</div>

<div
  class="creature-token-container"
  *ngIf="mode === 'token'"
  (click)="toggleSearchToken()"
>
  <div class="search" (click)="$event.stopPropagation()">
    <h3>Token Search</h3>
    <mat-form-field appearance="fill">
      <mat-label>Card Name</mat-label>
      <input
        [(ngModel)]="tokenOptions.searchName"
        placeholder="Any words in the tokens name, 'e.g. Soldier'"
        matInput
        [ngModelOptions]="{ standalone: true }"
        (keyup.enter)="
          searchCards(tokenOptions.searchName, tokenOptions.isTokenFilterActive)
        "
      />
    </mat-form-field>
    <mat-checkbox
      [(ngModel)]="tokenOptions.isTokenFilterActive"
      color="primary"
    >
      <span class="token-filter-text">Tokens Only</span>
    </mat-checkbox>
    <button
      mat-raised-button
      color="primary"
      (click)="
        searchCards(tokenOptions.searchName, tokenOptions.isTokenFilterActive);
        $event.stopPropagation()
      "
    >
      Search
    </button>
  </div>
  <spacko-magic-galery
    class="search-galery"
    [cards]="tokenOptions.searchResult"
    [cardHeight]="cardHeight * 1.5"
    [cardWidth]="cardWidth * 1.5"
    [cardBorderRadius]="cardBorderRadius * 1.5"
    [mode]="mode"
    (actionTriggered)="triggerAction($event)"
  >
  </spacko-magic-galery>
</div>

<div
  class="search-container"
  *ngIf="mode === 'search'"
  (click)="toggleSearchMode()"
>
  <div class="search-content">
    <mat-form-field
      appearance="fill"
      class="amount-input"
      (click)="$event.stopPropagation()"
    >
      <mat-label>Amount of open cards</mat-label>
      <input
        type="number"
        [(ngModel)]="searchOptions!.openCardAmount"
        placeholder="The amount of top cards visible"
        matInput
        [min]="1"
        [step]="1"
        oninput="this.value = Math.round(this.value);"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <spacko-magic-lane
      *ngIf="searchOptions?.location === 'deck'"
      [cards]="deck"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      [openCardAmount]="searchOptions?.openCardAmount"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-lane>
    <spacko-magic-lane
      *ngIf="searchOptions?.location === 'graveyard'"
      [cards]="graveyard"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-lane>
    <spacko-magic-lane
      *ngIf="searchOptions?.location === 'exile'"
      [cards]="exile"
      [cardHeight]="cardHeight"
      [cardWidth]="cardWidth"
      [cardBorderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-lane>
  </div>
</div>
<div class="loader" [hidden]="!isLoading"></div>
