/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Beleren2016";
  src: url("/assets/fonts/BELEREN.TTF") format("truetype");
}

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Ramaraja', serif;
  background: url(https://miro.medium.com/max/3840/1*_HhnCWCrqDSt__s5wFrKqQ.jpeg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: #fffb;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background: #fffb;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0005;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.actions {
  position: relative;
  margin: auto;
  z-index: 1;
}

.action {
  border: 1px solid rgba(0, 0, 0);
  background-position-x: center;
  background-position-y: center;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 4px;
  box-sizing: border-box;
}

.action:active {
  background-color: rgba(68, 68, 68, 0.7);
}

.action:hover {
  background-color: rgba(34, 34, 34, 0.7);
}
