/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Beleren2016';
  src: url('/assets/fonts/BELEREN.TTF') format('truetype');
}

* {
  font-family: Beleren2016;
}

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Ramaraja', serif;
  background: url('/assets/background.jpg');
  background-size: cover;
  background-position: center center;
  // background-position: 50% 50%;
  // background-size: 120%;
  overflow: hidden;
  // -webkit-transition: background-position 2s ease;
  // -moz-transition: background-position 2s ease;
  // -o-transition: background-position 2s ease;
  // transition: background-position 20s cubic-bezier(0.5, 0.07, 0.39, 0.85);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: #fffb;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background: #fffb;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0005;
}

::-webkit-scrollbar-thumb {
  background-color: #3e256a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #673ab7;
}

.actions {
  position: relative;
  margin: auto;
  z-index: 1;
}

.action {
  background-position-x: 53%;
  background-position-y: 53%;
  border-radius: 50%;
  background-color: rgb(223, 214, 211);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #00000088;
  transition: transform 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.action:active {
  filter: brightness(1.4);
  transform: scale(0.8);
}

.action:hover {
  filter: brightness(1.2);
}

.tap {
  background-image: url(/assets/tap.svg);
  background-size: 60%;
}

.untap {
  background-image: url(/assets/untap.svg);
  background-size: 60%;
  background-color: #231f20;
}

.return-to-hand {
  background-image: url(/assets/hand_white.svg);
  background-size: 70%;
  background-position-x: 45%;
}

.exile {
  background-image: url(/assets/exile_white.svg);
  background-size: 80%;
}

.add-counter {
  background-color: #218f21;
  background-image: url(/assets/add_white.svg);
  background-size: 80%;
}

.remove-counter {
  background-color: #892a2a;
  background-image: url(/assets/remove_white.svg);
  background-size: 80%;
}

.kill {
  background-image: url(/assets/cancel_white.svg);
  background-size: 80%;
}

.attach {
  background-image: url(/assets/layers_black.svg);
  background-position-y: 62%;
  background-size: 80%;
}

.flip {
  background-image: url(/assets/flip_black.svg);
  background-size: 80%;
}

.unattach {
  background-image: url(/assets/layers_clear_white.svg);
  background-position-y: 62%;
  background-size: 80%;
  background-color: #231f20;
}

.search {
  background-image: url(/assets/search_white.svg);
  background-size: 80%;
}

.put-on-top {
  background-image: url(/assets/on_top.svg);
  background-size: 80%;
}

.put-on-bottom {
  background-image: url(/assets/on_bottom.svg);
  background-size: 80%;
}

.shuffle {
  background-image: url(/assets/shuffle_white.svg);
  background-size: 80%;
}

.search {
  background-image: url(/assets/search_white.svg);
  background-size: 80%;
}

.draw {
  background-image: url(/assets/hand_white.svg);
  background-size: 70%;
  background-position-x: 45%;
}
