/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: url(https://wallpapercave.com/wp/mslLgR7.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: #fffb;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background: #fffb;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #0005;
}

::-webkit-scrollbar-thumb {
  background: #555b;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  height: 20px;
  cursor: pointer;
}

.actions {
  position: relative;
  top: -60px;
  z-index: 1;
}

.action {
  min-height: 22px;
  min-width: 22px;
  border: 1px solid black;
  background-position-x: center;
  background-position-y: center;
  background-color: #555;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.action:active {
  filter: brightness(150%);
}

.action:hover {
  filter: brightness(120%);
}
