.card {
  background-size: contain;
  cursor: pointer;
  scroll-snap-align: center;
}

.inner-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 9px;
}

.shuffle {
  background-image: url(/assets/shuffle_white.svg);
}

.search {
  background-image: url(/assets/search_white.svg);
}
