.card {
  background-size: contain;
  cursor: pointer;
  scroll-snap-align: center;
}

.inner-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 9px;
}
