.logo {
  padding-top: 4rem;
  padding-bottom: 3rem;
  margin: auto;
  width: 500px;
  animation: fadeIn 1s ease;
  height: 152px;
}

.wrapper {
  height: 50%;
  max-width: 500px;
  margin: auto;
}

.input {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-button {
  color: #fff !important;
  margin: 0;
}

.register-button {
  margin: 0;
}

.links {
  height: 10%;
  text-align: center;
}

.link {
  color: var(--primary-color);
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
