<div class="card-container">
  <div
    class="arrow left"
    [style.height.px]="cardHeight*1.5"
    (click)="scrollLeft()"
  ></div>
  <div
    class="arrow right"
    [style.height.px]="cardHeight*1.5"
    (click)="scrollRight()"
  ></div>
  <div
    #scroll
    class="scroll-container"
    [style.paddingTop.px]="cardHeight*0.5"
    [style.paddingBottom.px]="cardHeight*0.05"
    [style.height.px]="cardHeight"
  >
    <spacko-magic-graveyard
      *ngIf="exile"
      [isEnemyCard]="isEnemyLane"
      [cards]="exile"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [type]="'exile'"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-graveyard>
    <spacko-magic-graveyard
      *ngIf="graveyard"
      [isEnemyCard]="isEnemyLane"
      [cards]="graveyard"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [type]="'graveyard'"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-graveyard>
    <spacko-magic-library
      *ngIf="library"
      [isEnemyCard]="isEnemyLane"
      [cards]="library"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [mode]="mode"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-library>
    <spacko-magic-card
      *ngFor="let card of cards"
      [isEnemyCard]="isEnemyLane"
      [card]="card"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [mode]="mode"
      [showOnlyArt]="showOnlyArt"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-card>
  </div>
</div>
