<div class="card-container">
  <div
    class="arrow left"
    [style.height.px]="cardHeight"
    (mouseover)="scrollTo('left')"
    (mouseleave)="stopTimer(timer)"
    *ngIf="showScrollButtons"
  ></div>
  <div
    #scroll
    class="scroll-container"
    [style.height.px]="cardHeight"
  >
    <div class="arrow-padding"></div>
    <spacko-magic-card
      *ngFor="let card of lands"
      [isEnemyCard]="isEnemyLane"
      [card]="card"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-card>
    <spacko-magic-graveyard
      *ngIf="exile && exile.length > 0"
      [isEnemyCard]="isEnemyLane"
      [cards]="exile"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [type]="'exile'"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-graveyard>
    <spacko-magic-graveyard
      *ngIf="graveyard && graveyard.length > 0"
      [isEnemyCard]="isEnemyLane"
      [cards]="graveyard"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [type]="'graveyard'"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-graveyard>
    <spacko-magic-library
      *ngIf="library"
      [isEnemyCard]="isEnemyLane"
      [cards]="library"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      (actionTriggered)="triggerAction($event)"
    >
    </spacko-magic-library>
    <spacko-magic-card
      *ngFor="let card of cards; index as i"
      [isEnemyCard]="isEnemyLane"
      [card]="card"
      [height]="cardHeight"
      [width]="cardWidth"
      [borderRadius]="cardBorderRadius"
      [mode]="mode"
      [touch]="touch"
      [faceDown]="openCardAmount ? i >= openCardAmount : false"
      (actionTriggered)="triggerAction($event)"
    ></spacko-magic-card>
    <div class="arrow-padding"></div>
  </div>
  <div
    class="arrow right"
    [style.height.px]="cardHeight"
    (mouseover)="scrollTo('right')"
    (mouseleave)="stopTimer(timer)"
    *ngIf="showScrollButtons"
  ></div>
</div>
