.delete {
  margin-left: auto;
}

.list-item {
  display: flex;
}

.player-name {
  display: flex;
  align-items: center;
}

mat-list-item {
  background-color: #f4f4f4;
  margin-bottom: 2px;
  display: flex;
}

mat-form-field {
  width: 100%;
}
